.text{
  color: white;
  font-size: 2em;
}

.heading{
  text-align: center;
  color: yellow;
  font-size: 3em;
  font-weight: bold;
}

.flag-select__option{  
  width: 350px !important;
  background:rgb(240, 220, 220);
  color:black;
  font-weight: 900;
  font-size: 1.6em;
  min-width: auto;
  border: 2px solid black;
  padding: 0px;
}

.country-name {
  margin-bottom: 70px;
}

.selector{
  background-color: #d142f5;
}
.selector ::placeholder{
  font-size: 1.5em;
}

.selector :focus {
  outline: none;
}

.selector :hover{
  opacity: 0.9;
}

