.footer{
  font-family: 'Courgette', cursive;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.footer-text{
  font-weight: bolder;
  text-align: center;
  padding: 5px;
  margin: 5px; 
  font-size: 1.7em;
}