.footer{
  font-family: 'Courgette', cursive;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
}

.footer-text{
  font-weight: bolder;
  text-align: center;
  padding: 8px;
  margin: 7px; 
  font-size: 1.5em;
}

@media screen and (max-width:600px){
  .footer{
    margin-top: 15px;
    position: relative;
  }

}