html, body{
  background-image: url('../image/corona-updates.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.data-container{
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Courgette', cursive;
}

.numbers-container {
  opacity: 0.9;  
  margin-top: 70px;
  min-height: 100vh;
}

.numbers{
  text-align: center;
  background-color: black;
  padding: 15px;
  border: 2px solid white;
  font-size: 2em;
  font-weight: 600;
  color: white; 
}

.recovered{
  color: green
}

.deaths{
  color:red
}

.confirmed{
  color:  #ff751a;
}

.total{
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .numbers{
    font-size: 1.5em;
  }

  .numbers-container{
    min-height: 0;
  }
}
