body {
  background-image: url('../image/corona-updates.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  text-align: center;
  color: white;
  margin-top: 70px;
  font-family: 'Courgette', cursive;
}

.numbers-container {
  opacity: 0.9;
  margin-top: 100px;
  /* text-align: center; */
}
.numbers{
  text-align: center;
  background-color: black;
  padding: 15px;
  border: 2px solid white;
  font-size: 2em;
  font-weight: 600;
  color: white; 
}

.recovered{
  color: green
}

.deaths{
  color:red
}

.confirmed{
  color: yellow;
}

@media screen and (max-width: 600px) {
  .heading{
    font-size: 0.6em;
  }

  .container{
    max-width: auto;
    font-size: 1em;
  }
}
