html {
  font-family: system-ui, sans-serif;

}

svg {
  display: inline-block;
  vertical-align: middle;
}

.geo-style{
  fill: #D6D6DA;
  outline: none;
}

.geo-style :hover{
  fill: #F53;
  outline: none;
}
 
.geo-style :pressed{
    fill: #E42;
    outline: none;
  }

.numbers-toolTip{
  text-align: center;
  background-color: black;
  padding: 4px;
  border: 1px solid white;
  font-size: 1.5em;
  font-weight: bold;
}