.nav-container{
  font-family: 'Courgette', cursive;
  opacity: 0.8; 
  background-color: black;
  border-bottom: 3px solid white;
}

.nav-link{
  font-size: 1.3em;
  color: white!important;  
  font-weight: bolder;
  text-decoration: none;
}

.navbar-toggler{
  background-color:white !important;
  text-decoration: none;
  outline: none !important;
}


