.news{
  text-align: center;
  font-size: 1.4em;
  font-family: 'Courgette', cursive;
  margin-top: 70px;
  background-color: none;
}

.single-article{
  margin: 10px;
  padding: 10px;
}

.link-news{
  color: black; 
  font-size: 1.3em;
}

.header-text{
  font-size: 1.10em;
  font-weight: bold;
  padding: 5px;
}