body {
  background-image: url('../image/corona-updates.jpg') !important ;
  background-size: cover;
  background-repeat: no-repeat;
}

.news{
  text-align: center;
  font-size: 1.4em;
  font-family: 'Courgette', cursive;
  margin-top: 70px;
  background-color: none;
}

.single-article{
  margin: 10px;
  padding: 8px;
}

/* .news-image{
  min-height: 150px;
  min-width: 150px;
  max-width: 500px;
} */